In [1]:
import os
import pandas as pd

In [2]:
df = pd.read_csv('dataset/2019-q1-cleaned-v3.csv')

In [3]:
df.head()

,ride_id,start_time,end_time,ride_length,day_of_week,day_of_week_id,start_station_id,end_station_id,usertype
0,21758631,2019-01-04 12:50:24 UTC,2019-01-04 12:51:28 UTC,64,Friday,5,628,628,member
1,21954243,2019-02-22 12:55:45 UTC,2019-02-22 13:25:49 UTC,1804,Friday,5,628,628,member
2,22167178,2019-03-29 15:30:19 UTC,2019-03-29 15:47:31 UTC,1032,Friday,5,509,628,member
3,21926039,2019-02-15 11:53:58 UTC,2019-02-15 12:17:16 UTC,1398,Friday,5,106,628,member
4,21955109,2019-02-22 15:37:16 UTC,2019-02-22 16:01:19 UTC,1443,Friday,5,106,628,member

In [4]:
rows_b = df.shape[0]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365069 entries, 0 to 365068
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ride_id           365069 non-null  int64
 1   start_time        365069 non-null  object
 2   end_time          365069 non-null  object
 3   ride_length       365069 non-null  int64
 4   day_of_week       365069 non-null  object
 5   day_of_week_id    365069 non-null  int64
 6   start_station_id  365069 non-null  int64
 7   end_station_id    365069 non-null  int64
 8   usertype          365069 non-null  object
dtypes: int64(5), object(4)
memory usage: 25.1+ MB

In [6]:
df.isnull().sum()

ride_id             0
start_time          0
end_time            0
ride_length         0
day_of_week         0
day_of_week_id      0
start_station_id    0
end_station_id      0
usertype            0
dtype: int64

df.columns()

In [7]:
main_col = ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'day_of_week',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'user_type']

In [8]:
cols = df.columns
cols

Index(['ride_id', 'start_time', 'end_time', 'ride_length', 'day_of_week',
       'day_of_week_id', 'start_station_id', 'end_station_id', 'usertype'],
      dtype='object')

In [9]:
for col in cols:
    if col not in main_col:
        if col == 'start_time':
            df = df.rename({"start_time": "started_at"}, axis=1)
        if col == 'end_time':
            df = df.rename({"end_time": "ended_at"}, axis=1)
        if col == 'member_casual' :
            df = df.rename({"member_casual": "user_type"}, axis=1)
        if col == 'usertype' :
            df = df.rename({"usertype": "user_type"}, axis=1)
        
        if col == 'start_lat' :
            df = df.drop(columns='start_lat')
        if col == 'start_lng' :
            df = df.drop(columns='start_lng')
        if col == 'end_lat' :
            df = df.drop(columns='end_lat')
        if col == 'end_lng' :
            df = df.drop(columns='end_lng')
        if col == 'day_of_week_id' :
            df = df.drop(columns='day_of_week_id')     
        if col == 'ride_length' :
            df = df.drop(columns='ride_length')

In [10]:
df['started_at'] = pd.to_datetime(df['started_at'], errors = 'coerce')
df['ended_at'] = pd.to_datetime(df['ended_at'], errors = 'coerce')

if 'day_of_week' not in cols:
    df['day_of_week'] = df['started_at'].dt.day_name()

df['day_of_week'] = df['my_dates'].dt.day_name()

In [11]:
if 'start_station_name' not in cols:
    df['start_station_name'] = 'station_' + df['start_station_id'].astype(str)

if 'end_station_name' not in cols:
    df['end_station_name'] = 'station_' + df['end_station_id'].astype(str)
    
if 'rideable_type' not in cols:
    df['rideable_type'] = 'General_bike'

In [12]:
df = df.dropna(subset=['start_station_name', 'start_station_id', 'end_station_name', 'end_station_id'])

In [21]:
rows_a = df.shape[0]

missing = ((rows_b - rows_a) / rows_b) *100

missing

0.0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365069 entries, 0 to 365068
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             365069 non-null  int64
 1   started_at          365069 non-null  datetime64[ns, UTC]
 2   ended_at            365069 non-null  datetime64[ns, UTC]
 3   day_of_week         365069 non-null  object
 4   start_station_id    365069 non-null  int64
 5   end_station_id      365069 non-null  int64
 6   user_type           365069 non-null  object
 7   start_station_name  365069 non-null  object
 8   end_station_name    365069 non-null  object
 9   rideable_type       365069 non-null  object
dtypes: datetime64[ns, UTC](2), int64(3), object(5)
memory usage: 30.6+ MB

In [15]:
df.isnull().sum()

ride_id               0
started_at            0
ended_at              0
day_of_week           0
start_station_id      0
end_station_id        0
user_type             0
start_station_name    0
end_station_name      0
rideable_type         0
dtype: int64

In [16]:
df.head()

,ride_id,started_at,ended_at,day_of_week,start_station_id,end_station_id,user_type,start_station_name,end_station_name,rideable_type
0,21758631,2019-01-04 12:50:24+00:00,2019-01-04 12:51:28+00:00,Friday,628,628,member,station_628,station_628,General_bike
1,21954243,2019-02-22 12:55:45+00:00,2019-02-22 13:25:49+00:00,Friday,628,628,member,station_628,station_628,General_bike
2,22167178,2019-03-29 15:30:19+00:00,2019-03-29 15:47:31+00:00,Friday,509,628,member,station_509,station_628,General_bike
3,21926039,2019-02-15 11:53:58+00:00,2019-02-15 12:17:16+00:00,Friday,106,628,member,station_106,station_628,General_bike
4,21955109,2019-02-22 15:37:16+00:00,2019-02-22 16:01:19+00:00,Friday,106,628,member,station_106,station_628,General_bike