In [1]:
import pandas as pd

In [31]:
df = pd.read_csv('dataset/202106-divvy-tripdata.csv')

In [32]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,99FEC93BA843FB20,electric_bike,2021-06-13 14:31:28,2021-06-13 14:34:11,NaN,NaN,NaN,NaN,41.80,-87.59,41.80,-87.60,member
1,06048DCFC8520CAF,electric_bike,2021-06-04 11:18:02,2021-06-04 11:24:19,NaN,NaN,NaN,NaN,41.79,-87.59,41.80,-87.60,member
2,9598066F68045DF2,electric_bike,2021-06-04 09:49:35,2021-06-04 09:55:34,NaN,NaN,NaN,NaN,41.80,-87.60,41.79,-87.59,member
3,B03C0FE48C412214,electric_bike,2021-06-03 19:56:05,2021-06-03 20:21:55,NaN,NaN,NaN,NaN,41.78,-87.58,41.80,-87.60,member
4,B9EEA89F8FEE73B7,electric_bike,2021-06-04 14:05:51,2021-06-04 14:09:59,NaN,NaN,NaN,NaN,41.80,-87.59,41.79,-87.59,member

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 729595 entries, 0 to 729594
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             729595 non-null  object
 1   rideable_type       729595 non-null  object
 2   started_at          729595 non-null  object
 3   ended_at            729595 non-null  object
 4   start_station_name  649502 non-null  object
 5   start_station_id    649502 non-null  object
 6   end_station_name    643208 non-null  object
 7   end_station_id      643208 non-null  object
 8   start_lat           729595 non-null  float64
 9   start_lng           729595 non-null  float64
 10  end_lat             728878 non-null  float64
 11  end_lng             728878 non-null  float64
 12  member_casual       729595 non-null  object
dtypes: float64(4), object(9)
memory usage: 72.4+ MB

In [39]:
df.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    80093
start_station_id      80093
end_station_name      86387
end_station_id        86387
start_lat                 0
start_lng                 0
end_lat                 717
end_lng                 717
member_casual             0
dtype: int64

df.columns()

['ride_id', 'start_time', 'end_time', 'ride_length', 'day_of_week',
       'day_of_week_id', 'start_station_id', 'end_station_id', 'usertype']

In [ ]:
df = df.dropna(subset=['start_station_name', 'start_station_id', 'end_station_name', 'end_station_id'])

In [35]:
main_col = ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'day_of_week',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'user_type']

In [36]:
cols = df.columns
cols

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [ ]:
for col in cols:
    if col not in main_col:
        if col == 'start_time':
            df = df.rename({"start_time": "started_at"}, axis=1)
        if col == 'end_time':
            df = df.rename({"end_time": "ended_time"}, axis=1)
        if col == 'member_casual' :
            df = df.rename({"member_casual": "user_type"}, axis=1)
        if col == 'usertype' :
            df = df.rename({"usertype": "user_type"}, axis=1)
        
        if col == 'start_lat' :
            df = df.drop(columns='start_lat')
        if col == 'start_lng' :
            df = df.drop(columns='start_lng')
        if col == 'end_lat' :
            df = df.drop(columns='end_lat')
        if col == 'end_lng' :
            df = df.drop(columns='end_lng')
        if col == 'day_of_week_id' :
            df = df.drop(columns='day_of_week_id')

In [ ]:
df.head()

df['day_of_week'] = df['my_dates'].dt.day_name()

In [29]:
if 'day_of_week' on in cols:
    df['day_of_week'] = df['my_dates'].dt.day_name()

F